<header>
    <nav class="main-nav">
        <a href="/events"><img src="https://i.imgur.com/FZzaEan.png"></a>
        <p class="lobster">Retrospection</p>
        <a href="/users/<%= current_user.id %>/edit"><img src="https://i.imgur.com/WlaSrJA.png"></a>
    </nav>
</header>
<main>
    <h2>Add a new photo</h2>
    <form action="/photos" method="post">
        <input type="text" name="image_url" placeholder="Image link">
        <button>Add</button>
    </form>
    <form action="">
        <input type="file">
    </form>
</main>