<header>
    <h1>Add a new photo</h1>
</header>
<main>
    <form action="/photos" method="post">
        <label for="">Photo link:</label>
        <input type="text" name="image_url">
        <button>Add</button>
    </form>
    <form action="">
        <input type="file">
    </form>
</main>