<header>
    <nav class="main-nav">
        <a href="/photos"><img src="https://i.imgur.com/4KYrctE.png"></a> 
        <p class="lobster">Retrospection</p>
        <a href="/users/<%= current_user.id %>/edit"><img src="https://i.imgur.com/WlaSrJA.png"></a>       
    </nav>
</header>
<main>
    <h2>Add a new event</h2>
    <form action="/events" method="post">
        <input type="text" placeholder="Title" name="title">
        <input type="text" placeholder="Details" name="details">
        <input type="date" name="start_at" value="<%= Date.today %>">
        <input type="date" name="end_at" value="<%= Date.today %>">
        <button>Add</button>
    </form>
</main>