<header>
    <nav class="main-nav">
        <a href="/events"><img src="https://i.imgur.com/FZzaEan.png"></a> 
        <p class="lobster">Retrospection</p>
        <a href="/users/<%= current_user.id %>/edit"><img src="https://i.imgur.com/WlaSrJA.png"></a>       
    </nav>
</header>
<main>
    <h2>Add a new event</h2>
    <form action="/events" method="post">
        <input type="text" placeholder="Title" name="title">
        <textarea name="details" placeholder="Details" name="details"></textarea>
        <label class="left">Start date</label>
        <input type="date" name="start_at" value="<%= Date.today %>">
        <label>End date</label>
        <input type="date" name="end_at" value="<%= Date.today %>">
        <button class="new-event">Add</button>
    </form>
</main>