<div class="user">
    <header>
        <h1>Retrospection</h1>
    </header>
    <main>
        <h2>Enter your details</h2>
        <form action="/users" method="post">
            <input type="text" placeholder="First name" name="first_name">
            <input type="text" placeholder="Last name" name="last_name">
            <input type="email" 
            placeholder="Email" name="email">
            <input type="password" placeholder="Password" name="password">
            <button>Create account</button>
        </form>
    </main>
</div>