<header>
    <h1>Change your password</h1>
</header>
<main>
    <form action="/users/<%= current_user.id %>/password" method="post">
        <input type="hidden" name="_method" value="put">
        <input type="password" 
        placeholder="Current password" name="current_password">
        <input type="password" 
        placeholder="New password" name="password">
        <button>Update password</button>
    </form>
</main>