<div class="user">
    <header>
        <nav class="main-nav">
            <a href="/events"><img src="https://i.imgur.com/FZzaEan.png"></a>
            <p class="lobster">Retrospection</p>
            <a href="/photos"><img src="https://i.imgur.com/4KYrctE.png"></a>
        </nav>
    </header>
    <main>
        <h2>Change your password</h2>
        <form action="/users/<%= current_user.id %>/password" method="post">
            <input type="hidden" name="_method" value="put">
            <input type="password" 
            placeholder="Current password" name="current_password">
            <input type="password" 
            placeholder="New password" name="password">
            <button>Confirm</button>
        </form>
    </main>
</div>