<header>
    <nav>
        <a href="">Options</a>
        <a href="">Calendar</a>
    </nav>
    <h1>Photos</h1>
    <section>
        <a href="">Add photo</a>
    </section>
    <section>
        <form action="">
            <input type="text" placeholder="Search photos">
            <button>Go!</button>
        </form>
    </section>
</header>
<main>
    <section>
        <% @photos.each do |photo| %>
            <img src="<%= photo.image_url %>" alt="">
        <% end %>
    </section>
</main>
<footer>
    <a href="/events">Events</a>
    <a href="/photos">Photos</a>
</footer>