<% if !logged_in? %>
    <a href="/">Log in</a>
<% end %>
<header>
    <nav class="main-nav">
        <a href="/events"><img src="https://i.imgur.com/FZzaEan.png"></a>
        <p class="lobster">Retrospection</p>
        <a href="/users/<%= current_user.id %>/edit"><img src="https://i.imgur.com/WlaSrJA.png"></a>
    </nav>
    <h1>Photos</h1>
    <section>
        <a href="/photos/add">Add photo</a>
    </section>
    <section>
        <form action="">
            <input type="text" placeholder="Search photos">
            <button>Go!</button>
        </form>
    </section>
</header>
<main>
<% dates = [] %>
<% @photos.each do |photo| %>
    <% if dates.exclude?(photo.timestamp.in_time_zone("Australia/Melbourne").strftime("%D")) %>
        <p class="border-top-bottom"><%= photo.timestamp.in_time_zone("Australia/Melbourne").strftime("%a, %e %b %Y") %></p>
        <% dates << photo.timestamp.in_time_zone("Australia/Melbourne").strftime("%D") %>
    <% end %>
    <a href="/photos/<%= photo.id %>"><img src="<%= photo.image_url %>" alt=""></a>
<% end %>
</main>
<footer>
</footer>