.user h1 {
    margin: 5vh auto 0.5em auto;
    font-size: 4rem;
}

h2 {
    margin: 5vh auto 0.5em auto;
}

.user button {
    width: 80%;
}

.user a {
    text-decoration: underline;
}

.user .additional-details {
    margin-top: 1.5em;
}

.logout {
    margin-top: 3em;
}

.logout button {
    background-color: var(--ter-color);
}