@import url('https://fonts.googleapis.com/css?family=Lobster&display=swap');

.user h1 {
    margin: 10vh auto 0.8em auto;
    font-family: 'Lobster', cursive;
    font-size: 4rem;
}

.user .create-account {
    margin-top: 1.5em;
}